certifi==2024.12.14
charset-normalizer==3.4.1
greenlet==3.1.1
idna==3.10
narwhals==1.24.1
numpy==2.2.2
packaging==24.2
pandas==2.2.3
plotly==6.0.0
pyrate-limiter==3.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
sec-edgar-downloader==5.0.2
six==1.17.0
SQLAlchemy==2.0.37
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
